.spaced{
  margin: 0.2em;
}
.aligncenter{
    display: block;
    margin: 1em auto;
    text-align: center;
}
a.aligncenter{
  border-bottom: none;
}
.pipeline.status{
    border-bottom: none;
}

.spotlights > section > .image.full-high-image{
  display: flex;
}
